%div{id: "meeting_issue_for_#{answer.class.to_s.underscore}_#{answer.id}"}
  - if answer.issue.present?
    - if (answer.pending_issue && answer.pending_issue.executed?) || !answer.pending_issue
      %p
        %table.list.issues
          %tr.issue
            %td.subject=link_to_issue(answer.issue, project: false)
            %td=link_to_user(answer.issue.author)
            %td=link_to_user(answer.issue.assigned_to)
            %td=format_date(answer.issue.start_date)
            %td=format_date(answer.issue.due_date)
            %td=h(answer.status)
            %td=t(answer.issue_type || 'new', scope: :label_meeting_issue_type_statuses)
    - else
      %p
        %table.list.issues
          %tr.issue
            %td.subject
              - if answer.issue_id.present?
                =link_to_issue(answer.issue, project: false)
              - else
                = "#{answer.issue.tracker} #N: #{answer.issue.subject}"
            %td=link_to_user(answer.issue.author)
            %td=link_to_user(answer.issue.assigned_to)
            %td=format_date(answer.issue.start_date)
            %td=format_date(answer.issue.due_date)
            %td=h(answer.issue.status)
            %td=t(answer.issue_type || 'new', scope: :label_meeting_issue_type_pending_statuses)
            %td.hide-when-show
              - if can_destroy_issue?(answer)
                =link_to l(:button_dettach), {controller: 'meeting_issues', action: 'destroy', meeting_answer_type: answer.class, id: answer.id}, confirm: l(:text_are_you_sure), method: :delete, remote: true, class: 'icon icon-del'
  - else
    %p.hide-when-show
    - if can_update_issue?(answer)
      = link_to l(:label_update_meeting_issue), {controller: 'meeting_issues', action: 'update', meeting_answer_type: answer.class, id: answer.id}, method: 'put', remote: true, class: 'icon icon-edit'
    - if can_create_issue?(answer)
      = link_to l(:label_new_meeting_issue), {controller: 'meeting_issues', action: 'new', meeting_answer_type: answer.class, meeting_answer_id: answer.id}, remote: true, class: 'icon icon-add'
