:css
  .inline-block{ display: inline-block }

%fieldset
  %legend= l(:label_filter_plural)
  %form{:method => :get}
    - %w{meet_on created_on}.each do |type_date|
      %br
      %label=l(:"field_#{type_date}") + ":"
      %input{:id => type_date, :name => type_date, :size => 10, :onchange => "this.form.submit(); return false;", :value => params[type_date]}
      = calendar_for(type_date)

      - time_periods_for_select.each do |key|
        = "/"
        - if params[:"time_period_#{type_date}"] == key
          %strong
            = l(:"label_period_#{key}")
        - else
          = link_to l(:"label_period_#{key}"), params.merge( :"time_period_#{type_date}" => key, :"#{type_date}" => "" )
    %br

    .inline-block
      %label{:for=>'author_id'}= l(:field_author) + ":"
      %select{:id => 'author_id', :name => 'author_id', :class => "small", :onchange => "this.form.submit(); return false;"}
        %option
        = options_from_collection_for_select(author_id_for_select, :id, :name, params[:author_id] && params[:author_id].to_i)

    .inline-block
      %label{:for=>'project_id'}= l(:label_project) + ":"
      %select{:id => 'project_id', :name => 'project_id', :class => "small", :onchange => "this.form.submit(); return false;"}
        %option
        = project_tree_options_for_select(project_id_for_select, selected: Project.where(id: params[:project_id]))

  %form{:method => :get}
    - [:project_id, :author_id, :time_period_meet_on, :time_period_created_on].each do |item|
      = hidden_field_tag item, params[item]

    .inline-block
      %label{:for=>'subject'}= l(:field_subject) + ":"
      = text_field_tag 'subject', params[:subject], :size => 30
      = submit_tag l(:button_apply), :class => "small", :name => nil
      = link_to l(:button_clear), {:action => :index}, :class => 'icon icon-reload'        
