%h3= l(:field_meeting_participators)+":"
.autoscroll
  %table.list.issues
    %tr
      %th=l(:field_company)
      %th=l(:field_job_title)
      %th=l(:field_member)
      %th=l(:label_meeting_invite_status)
      %th=l(:label_meeting_notice_status)
      %th.hide-when-print=l(:field_status)
    - @object.meeting_participators.each do |par|
      %tr.issue
        %td{style: "white-space: pre-line; width: 33%"}= h par.company rescue ""
        %td{style: "white-space: pre-line; width: 33%"}= h par.job_title rescue ""
        %td= link_to_user(par.user)
        %td= participator_attendance(par)
        %td= participator_meeting_notice(par)
        %td.hide-when-print
          = participator_notice_status(par)
