- if (agenda_contacts|protocol_contacts).any?
  %h3= l(:field_meeting_contacts)+":"
  .autoscroll
    %table.list.issues
      %tr
        %th{style: "white-space: pre-line; width: 25%"}=l(:field_company)
        %th{style: "white-space: pre-line; width: 25%"}=l(:field_job_title)
        %th=l(:field_contact)
        %th=l(:field_contact_mobile_phone)
        %th=l(:field_email)
        -#%th=l(:field_contact_fax)
        %th=l(:label_meeting_invite_status)
      - (agenda_contacts|protocol_contacts).compact.sort_by(&:name).each do |contact|
        %tr.issue
          %td= h contact.company
          %td= h contact.job_title
          %td= link_to_contact(contact)
          %td= h contact.mobile_phone
          %td= mail_to(h contact.email)
          -#%td= h contact.fax

          %td
            - member = agenda_contacts.include?(contact)
            - participator = protocol_contacts.include?(contact)
            - if member && participator
              = t(:label_meeting_member_present)
            - elsif member
              = t(:label_meeting_member_blank)
            - elsif participator
              = t(:label_meeting_member_present)
