:css
  #meeting_asserter ul {margin: 0;  padding: 0;}
  #meeting_asserter li {list-style-type:none;margin: 0px 2px 0px 0px; padding: 0px 0px 0px 0px;}
  #meeting_asserter img.gravatar {margin: 0 4px 2px 0;}

= render partial: 'meeting_approvers/sidebar'
%h3=l(:field_asserter)
#meeting_asserter
  %ul
    %li{class: "user-#{@object.asserter_id}"}
      = avatar(@object.asserter, size: 16)
      = link_to_user(@object.asserter, class: 'user')
= render partial: 'meeting_watchers/sidebar'
= render partial: 'meeting_comments/sidebar'
