%h2
  = link_to l(:label_meeting_protocol_plural), action: 'index'
  &#187;
  =l(:label_meeting_protocol_new)

%h3
  = t(:label_new_base_meeting_agenda) + ":"
  = link_to "##{@object.meeting_agenda_id} #{@object.meeting_agenda}", controller: 'meeting_agendas', action: 'show', id: @object.meeting_agenda_id

= nested_form_for @object do |f|
  = render :partial => 'form', :locals => {:f => f}
  = submit_tag l(:button_create)

- content_for(:sidebar) do
  %h3=t(:label_meeting_protocol_plural)
  %p= link_to t(:label_meeting_protocol_show_all), action: 'index'
  %p= link_to t(:label_meeting_agenda_show_all), controller: 'meeting_agendas', action: 'index'
  .contextual
    = link_to l(:button_add), {controller: 'meeting_participators', action: 'new', meeting_protocol_id:  @object.id}, :remote => true, :method => :get

  %h3
    = l(:field_meeting_participators)
  #meeting_participators
    = render partial: 'meeting_participators'    
