- heads_for_wiki_formatter
:css
  .meeting_comments_history a.delete {opacity: 0.4; vertical-align: middle;}
  .meeting_comments_history a.delete:hover {opacity: 1;}
  .show-when-print{display: none;}
  @media print {
    .show-when-print { display: block;}
  }
  a.is_deleted{
    color: white;
  }
  .is_deleted{
    color: white;
    text-transform: uppercase;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 50%;
    border-radius: 4px;
    background: red;
    position: relative;
    bottom: 4px;
  }

.contextual
  - if can_update_protocol?(@object)
    = link_to l(:button_update), {action: 'edit', id: @object.id}, class: 'icon icon-edit'
  - if can_create_agenda?
    = link_to l(:button_create_agenda), {controller: 'meeting_agendas', action: 'from_protocol', meeting_protocol_id: @object.id}, class: 'icon icon-copy'
  - if can_send_notices?(@object)
    - if @object.meeting_participators.all?(&:issue)
      = link_to l(:label_resend_notices), {action: 'resend_notices', id: @object.id}, class: 'icon icon-issue'
    - else
      = link_to l(:label_send_notices), {action: 'send_notices', id: @object.id}, class: 'icon icon-issue'
  = link_to l(:button_print), {format: 'pdf'}, {class: 'icon icon-duplicate'}
  - if can_destroy_protocol?(@object)
    = link_to l(:button_delete), {action: 'destroy', id: @object.id}, confirm: l(:text_are_you_sure), method: 'delete', class: 'icon icon-del'
  - if can_restore_protocol?(@object)
    = link_to l(:button_restore), {action: 'restore', id: @object.id}, confirm: l(:text_are_you_sure), method: 'put', class: 'icon icon-copy'

= render partial: 'head_for_print'

%h2.hide-when-print
  = link_to l(:label_meeting_protocol_plural), action: 'index'
  &#187;
  - if @object.is_deleted?
    %span.is_deleted= l(:label_meeting_protocol_is_deleted)
  - if @object.is_external?
    = l(:label_external_meeting_protocol)
  - else
    = l(:label_meeting_protocol)
  ="##{h @object.id}"


%h2.show-when-print{style: "text-align: center"}
  - if @object.is_external?
    = l(:label_external_meeting_protocol)
  - else
    = l(:label_meeting_protocol)
  ="№#{h @object.id}"

= render partial: 'meeting_protocol_attributes', locals: {object: @object}
= render partial: 'meeting_participators', locals: {agenda_users: @object.meeting_agenda.users, protocol_users: @object.users}
= render partial: 'meeting_contacts', locals: {agenda_contacts: @object.meeting_agenda.contacts, protocol_contacts: @object.contacts}
= render partial: 'meeting_answers', locals: {meeting_answers: @object.all_meeting_answers}

.hide-when-print
  = link_to_attachments @object, thumbnails: true

- content_for :sidebar do
  = render partial: 'sidebar'
