= debug params
- heads_for_wiki_formatter
:css
  .meeting_comments_history a.delete {opacity: 0.4; vertical-align: middle;}
  .meeting_comments_history a.delete:hover {opacity: 1;}


.contextual
  - if can_update_protocol?(@object)
    = link_to l(:button_update), {action: 'edit', id: @object.id}, class: 'icon icon-edit'
  - if can_destroy_protocol?(@object)
    = link_to l(:button_delete), {action: 'destroy', id: @object.id}, :confirm => l(:text_are_you_sure), :method => :delete, :class => 'icon icon-del'
  - if can_send_notices?(@object)
    - if @object.meeting_participators.all?(&:issue)
      = link_to l(:label_resend_notices), {action: 'resend_notices', id: @object.id}, class: 'icon icon-issue'
    - else
      = link_to l(:label_send_notices), {action: 'send_notices', id: @object.id}, class: 'icon icon-issue'

%h2
  = link_to l(:label_meeting_protocol_plural), action: 'index'
  &#187;
  = l(:label_meeting_protocol)
  ="##{h @object.id}"


.issue.details
  %table.attributes
    %tr
      %th=l(:field_subject)+":"
      %td{colspan: 3}=h @object.meeting_agenda.subject
    %tr
      %th=l(:field_place)+":"
      %td{colspan: 3}=h @object.meeting_agenda.place
    %tr
      %th= l(:field_meet_on)+":"
      %td= format_date(@object.meeting_agenda.meet_on)
      %th= l(:label_meeting_protocol_start_time)+":"
      %td= format_time(@object.start_time, false)
    %tr
      %th= l(:field_created_on)+":"
      %td= format_time(@object.created_on)
      %th= l(:label_meeting_protocol_end_time)+":"
      %td= format_time(@object.end_time, false)
    %tr
      %th= l(:label_meeting_agenda)+":"
      %td= link_to_agenda(@object)
      %th= l(:field_author)+":"
      %td= link_to_user @object.author

%h3= l(:field_meeting_participators)+":"
%table.list.issues
  %tr
    %th=l(:field_company)
    %th=l(:field_job_title)
    %th=l(:field_member)
    %th=l(:label_meeting_invite_status)
    %th=l(:label_meeting_notice_status)
  - @object.meeting_members.each do |member|
    %tr.issue
      %td= h member.user.company rescue ""
      %td= h member.user.job_title rescue ""
      %td= link_to_user(member.user) if member.user.present?
      %td= member_status(member)
      %td= link_to_meeting_notice(member.meeting_participator)
  - @object.meeting_participators.reject(&:meeting_member).each do |member|
    %tr.issue
      %td= h member.user.company
      %td= h member.user.job_title
      %td= link_to_user(member.user)
      %td= t(:label_meeting_member_extra)
      %td= link_to_meeting_notice(member)
%br
%h3=l(:label_meeting_answer_plural)+":"
- @object.meeting_answers.group_by(&:project).sort_by{ |project, answers| project.to_s }.each do |project, answers|
  %h4{align: 'center'}
    - if project.present?
      = link_to_project project
    - else
      = t(:label_without_project)
  - answers.each do |answer|
    .issue.details
      %table.attributes
        %tr
          %th= t(:label_meeting_question)+":"
          %td= h answer.meeting_question
          %th= t(:label_meeting_question_issue)+":"
          %td= render partial: 'meeting_bind_issues/show', locals: {question: answer.meeting_question, answer: answer}
        %tr
          %th= t(:label_meeting_question_user)+":"
          %td= link_to_reporter(answer)
          %th= t(:field_start_date)+":"
          %td= format_date(answer.start_date)
        %tr
          %th= t(:label_meeting_answer_user)+":"
          %td= link_to_user answer.user
          %th= t(:field_due_date)+":"
          %td= format_date(answer.due_date)
      %p
        %strong=t(:label_meeting_answer)+":"
        %br
        %div{style: 'margin-left: 40px;'}
          =textilizable(answer, :description)

      = render partial: 'meeting_issues/show', locals: {answer: answer}

      - if can_show_comments?(@object)
        %h4= l(:label_meeting_answer_comment_plural)+":"
        = render partial: 'meeting_comments/history', locals: {meeting_container: answer}

= link_to_attachments @object, thumbnails: true

- content_for :sidebar do
  = render partial: 'meeting_approvers/show'
