- heads_for_wiki_formatter
:css
  .meeting_comments_history a.delete {opacity: 0.4; vertical-align: middle;}
  .meeting_comments_history a.delete:hover {opacity: 1;}


.contextual
  - if can_update_protocol?(@object)
    = link_to l(:button_update), {action: 'edit', id: @object.id}, class: 'icon icon-edit'
  - if can_create_agenda?
    = link_to l(:button_create_agenda), {controller: 'meeting_agendas', action: 'from_protocol', meeting_protocol_id: @object.id}, class: 'icon icon-copy'
  - if can_destroy_protocol?(@object)
    = link_to l(:button_delete), {action: 'destroy', id: @object.id}, :confirm => l(:text_are_you_sure), :method => :delete, :class => 'icon icon-del'
  - if can_send_notices?(@object)
    - if @object.meeting_participators.all?(&:issue)
      = link_to l(:label_resend_notices), {action: 'resend_notices', id: @object.id}, class: 'icon icon-issue'
    - else
      = link_to l(:label_send_notices), {action: 'send_notices', id: @object.id}, class: 'icon icon-issue'

%h2
  = link_to l(:label_meeting_protocol_plural), action: 'index'
  &#187;
  = l(:label_meeting_protocol)
  ="##{h @object.id}"


.autoscroll.issue.details
  %table.attributes
    %tr
      %th=l(:field_subject)+":"
      %td{colspan: 3}=h @object.meeting_agenda.subject
    %tr
      %th=l(:field_place)+":"
      %td{colspan: 3}=h @object.meeting_agenda.place
    %tr
      %th= l(:field_meet_on)+":"
      %td= format_date(@object.meeting_agenda.meet_on)
      %th= l(:label_meeting_protocol_start_time)+":"
      %td= format_time(@object.start_time, false)
    %tr
      %th= l(:field_created_on)+":"
      %td= format_time(@object.created_on)
      %th= l(:label_meeting_protocol_end_time)+":"
      %td= format_time(@object.end_time, false)
    %tr
      %th= l(:label_meeting_agenda)+":"
      %td= link_to_agenda(@object)
      %th= l(:field_author)+":"
      %td= link_to_user @object.author

%h3= l(:field_meeting_participators)+":"
%table.list.issues
  %tr
    %th=l(:field_company)
    %th=l(:field_job_title)
    %th=l(:field_member)
    %th=l(:label_meeting_invite_status)
    %th=l(:label_meeting_notice_status)
    %th=l(:field_status)
  - agenda_users = @object.meeting_agenda.users
  - protocol_users = @object.users
  - (agenda_users|protocol_users).compact.sort_by(&:name).each do |user|
    %tr.issue
      %td{style: "white-space: pre-line; width: 33%"}= h user.company rescue ""
      %td{style: "white-space: pre-line; width: 33%"}= h user.job_title rescue ""
      %td= link_to_user(user)
      %td
        - member = agenda_users.include?(user)
        - participator = protocol_users.include?(user)
        - if member && participator
          = t(:label_meeting_member_present)
        - elsif member
          = t(:label_meeting_member_blank)
        - elsif participator
          = t(:label_meeting_member_extra)
      %td
        = link_to_meeting_notice(user)
      %td
        - member = @object.meeting_participators.select{ |m| m.user == user }.first
        - if member.present? && member.issue.present?
          = link_to(member.issue.try(:status), controller: 'issues', action: 'show', id: member.issue_id)


- agenda_contacts = @object.meeting_agenda.contacts
- protocol_contacts = @object.contacts
- if (agenda_contacts|protocol_contacts).any?
  %h3= l(:field_meeting_contacts)+":"
  %table.list.issues
    %tr
      %th{style: "white-space: pre-line; width: 25%"}=l(:field_company)
      %th{style: "white-space: pre-line; width: 25%"}=l(:field_job_title)
      %th=l(:field_phone)
      %th=l(:field_email)
      %th=l(:field_contact)
      %th=l(:label_meeting_invite_status)
    - (agenda_contacts|protocol_contacts).compact.sort_by(&:name).each do |contact|
      %tr.issue
        %td= h contact.company
        %td= h contact.job_title
        %td= h contact.phone
        %td= mail_to(h contact.email)
        %td= link_to_contact(contact)
        %td
          - member = agenda_contacts.include?(contact)
          - participator = protocol_contacts.include?(contact)
          - if member && participator
            = t(:label_meeting_member_present)
          - elsif member
            = t(:label_meeting_member_blank)
          - elsif participator
            = t(:label_meeting_member_extra)

%br
%h3=l(:label_meeting_answer_plural)+":"
- @object.all_meeting_answers.group_by(&:project).sort_by{ |project, answers| project.to_s }.each do |project, answers|
  %h4{align: 'center'}
    - if project.present?
      = link_to_project project
    - else
      = t(:label_without_project)
  - answers.each do |answer|
    .autoscroll.issue.details
      %table.attributes
        %tr
          %th= t(:label_meeting_question)+":"
          %td= h answer.meeting_question
          %th= t(:label_meeting_question_issue)+":"
          %td= render partial: 'meeting_bind_issues/show', locals: {answer: answer}
        %tr
          %th= t(:label_meeting_question_user)+":"
          %td= link_to_reporter(answer)
          %th= t(:field_start_date)+":"
          %td= format_date(answer.start_date)
        %tr
          %th= t(:label_meeting_answer_user)+":"
          %td= link_to_user answer.user
          %th= t(:field_due_date)+":"
          %td= format_date(answer.due_date)
      %p
        %strong=t(:label_meeting_answer)+":"
        %br
        %div{style: 'margin-left: 40px;'}
          =textilizable(answer, :description)

      = render partial: 'meeting_issues/show', locals: {answer: answer}

      - if can_show_comments?(@object)
        %h4= l(:label_meeting_answer_comment_plural)+":"
        = render partial: 'meeting_comments/history', locals: {meeting_container: answer}

= link_to_attachments @object, thumbnails: true

- content_for :sidebar do
  = render partial: 'meeting_approvers/sidebar'
  = render partial: 'meeting_watchers/sidebar'
  = render partial: 'meeting_comments/sidebar'
