.issue.details
  %table.attributes
    %tr
      %th=l(:field_subject)+":"
      %td{colspan: 3}=h object.subject
    - if object.is_external? && object.external_place_type["external_company"]
      %tr
        %th=l(:field_external_company)+":"
        %td{colspan: 3}=link_to_contact object.external_company
    %tr
      - if object.is_external?
        %th=l(:field_address)+":"
        %td{colspan: 3}=link_to_address object.address, object.external_company
      - else
        %th=l(:field_place)+":"
        %td{colspan: 3}
          - if object.meeting_company.present? && object.meeting_company.fact_address.present?
            = link_to_address(object.meeting_company.fact_address) + ","
          =h object.place
    %tr
      %th= l(:field_meet_on)+":"
      %td= format_date(object.meet_on)
      %th= l(:label_meeting_agenda_start_time)+":"
      %td= format_time(object.start_time, false)
    %tr
      %th= l(:field_created_on)+":"
      %td= format_time(object.created_on)
      %th= l(:label_meeting_agenda_end_time)+":"
      %td= format_time(object.end_time, false)
    %tr
      %th= l(:field_priority)+":"
      %td= h(object.priority)
      %th= l(:field_author)+":"
      %td= link_to_user object.author
    %tr
      %th= l(:label_meeting_protocol)+":"
      %td= link_to_protocol(object)
      = render partial: "online_meetings/add_attributes_table", locals: {item: object} rescue nil #FIXME
