.contextual
  - if can_create_agenda?
    = link_to t(:label_new_meeting_agenda), {action: 'new'}, class: 'icon icon-add'

%h2= t(:label_meeting_agenda_plural)

= render partial: 'filters'

- if @collection.present?
  .autoscroll
    %table.list
      %thead
        %tr
          %th= "#"
          %th= l(:field_meet_on)
          %th= l(:label_meeting_agenda_start_time)
          %th= l(:label_meeting_agenda_end_time)
          %th= l(:field_subject)
          %th= l(:label_type_meeting)
          %th= l(:field_author)
          %th= l(:field_created_on)
          %th= l(:label_meeting_protocol)
          %th
      %tbody
        - @collection.each do |item|
          %tr{:class=>cycle("odd", "even")}
            %td{align: 'center'}= link_to item.id, action: 'show', id: item.id
            %td{align: 'center'}= format_date(item.meet_on)
            %td{align: 'center'}= format_time(item.start_time, false)
            %td{align: 'center'}= format_time(item.end_time, false)
            %td{align: 'left'}= link_to h(item.subject), action: 'show', id: item.id
            %td{align: 'center'}= l(:variants_for_type_meeting)[item.is_external.to_s]
            %td{align: 'center'}= link_to_user item.author
            %td{align: 'center'}= format_time(item.created_on)
            %td{align: 'center'}= link_to_protocol(item)
            %td.buttons
              - if can_update_agenda?(item)
                = link_to l(:button_update), {action: 'edit', id: item.id}, class: 'icon icon-edit'
              - if can_destroy_agenda?(item)
                = link_to l(:button_delete), {action: 'destroy', id: item.id}, method: 'delete', confirm: l(:text_are_you_sure), class: 'icon icon-del'

  %p.pagination= pagination_links_full @pages, @count
- else
  %p.nodata
    = l(:label_no_data)
