%h2
  = link_to l(:label_meeting_agenda_plural), action: 'index'
  &#187;
  =l(:label_meeting_agenda_new)

= nested_form_for @object do |f|
  = render partial: 'form', locals: {f: f}
  = submit_tag l(:button_create)

- content_for(:sidebar) do
  %h3=t(:label_meeting_agenda_plural)
  %p= link_to t(:label_meeting_agenda_show_all), action: 'index'

  = render partial: 'meeting_members/sidebar'
  = render partial: 'meeting_contacts/sidebar'
