.contextual
  - if can_create_agenda?
    = link_to l(:button_add), {action: 'new'}, class: 'icon icon-add'
  - if can_update_agenda?(@object)
    = link_to l(:button_update), {action: 'edit', id: @object.id}, class: 'icon icon-edit'
  - if can_destroy_agenda?(@object)
    = link_to l(:button_delete), {action: 'destroy', id: @object.id}, confirm: l(:text_are_you_sure), method: 'delete', class: 'icon icon-del'
  - if can_send_invites?(@object)
    - if @object.meeting_members.all?(&:issue)
      = link_to l(:label_resend_invites), {action: 'resend_invites', id: @object.id}, class: 'icon icon-issue'
    - else
      = link_to l(:label_send_invites), {action: 'send_invites', id: @object.id}, class: 'icon icon-issue'

%h2
  = link_to l(:label_meeting_agenda_plural), action: 'index'
  &#187;
  = l(:label_meeting_agenda)
  ="##{h @object.id}"


.autoscroll.issue.details
  %table.attributes
    %tr
      %th=l(:field_subject)+":"
      %td{colspan: 3}=h @object.subject
    %tr
      %th=l(:field_place)+":"
      %td{colspan: 3}=h @object.place
    %tr
      %th= l(:field_meet_on)+":"
      %td= format_date(@object.meet_on)
      %th= l(:label_meeting_agenda_start_time)+":"
      %td= format_time(@object.start_time, false)
    %tr
      %th= l(:field_created_on)+":"
      %td= format_time(@object.created_on)
      %th= l(:label_meeting_agenda_end_time)+":"
      %td= format_time(@object.end_time, false)
    %tr
      %th= l(:field_priority)+":"
      %td= h(@object.priority)
      %th= l(:field_author)+":"
      %td= link_to_user @object.author
    %tr
      %th= l(:label_meeting_protocol)+":"
      %td= link_to_protocol(@object)

  %hr

  %h3= l(:field_meeting_members)+":"
  %table.list.issues
    %tr
      %th=l(:field_company)
      %th=l(:field_job_title)
      %th=l(:field_member)
      %th=l(:field_status)
    - @object.meeting_members.each do |member|
      %tr.issue
        %td= h member.user.company rescue ""
        %td{style: "white-space: pre-line; width: 33%"}= h member.user.job_title rescue ""
        %td= link_to_user(member.user)
        %td= link_to(member.issue.try(:status), controller: 'issues', action: 'show', id: member.issue_id) rescue h l(:label_meeting_member_was_not_invite)

  - if @object.contacts.any?
    %h3= l(:field_meeting_contacts)+":"
    %table.list.issues
      %tr
        %th=l(:field_company)
        %th=l(:field_job_title)
        %th=l(:field_phone)
        %th=l(:field_email)
        %th=l(:field_contact)
      - @object.contacts.each do |contact|
        %tr.issue
          %td{style: "white-space: pre-line; width: 20%"}= h contact.company
          %td{style: "white-space: pre-line; width: 20%"}= h contact.job_title
          %td{style: "white-space: pre-line; width: 20%"}= h contact.phone
          %td{style: "white-space: pre-line; width: 20%"}= mail_to(h contact.email)
          %td{style: "white-space: pre-line; width: 25%"}= link_to_contact(contact)

  %br

  %h3=l(:label_meeting_question_plural)+":"
  - @object.meeting_questions.group_by(&:project).sort_by{ |project, questions| project.to_s }.each do |project, questions|
    %h4{align: 'center'}
      - if project.present?
        = link_to_project project
      - else
        = t(:label_without_project)
    .autoscroll
      %table.list.issues
        %thead
          %tr
            %th=l(:field_title)
            %th=l(:field_issue)
            %th=l(:label_meeting_question_user)
            %th=l(:field_status)
            %th=l(:field_start_date)
            %th=l(:field_due_date)
            %th=l(:field_done_ratio)
        %tbody
          - questions.each do |question|
            %tr.issue{onclick: "$('#comments_block_for_#{question.id}').toggle();", style: (question.meeting_comments.present? ? "background: #fff0f5" : "")}
              %td.subject=h question.title
              %td.subject
                - if question.issue.present?
                  = link_to_issue(question.issue, tracker: false)
              %td
                - if question.user.present?
                  = link_to_user question.user
              %td
                - if question.status.present?
                  =h question.status
              %td
                - if question.issue.present?
                  =format_date(question.issue.start_date)
              %td
                - if question.issue.present?
                  =format_date(question.issue.due_date)
              %td{width: '80px'}
                - if question.issue.present?
                  = progress_bar(question.issue.done_ratio, width: '80px')
            - if can_show_comments?(@object)
              %tr{id: "comments_block_for_#{question.id}", style: 'display: none;'}
                %td{colspan: 7}
                  %h4= l(:label_meeting_question_comment_plural)+":"
                  = render partial: 'meeting_comments/history', locals: {meeting_container: question}

- content_for :sidebar do
  = render partial: 'meeting_approvers/sidebar'
  =# render partial: 'meeting_comments/sidebar'
