.contextual
  = link_to l(:button_add), {action: 'new'}, class: 'icon icon-add'
  - if @object.meeting_protocol.blank?
    = link_to l(:button_update), {action: 'edit', id: @object.id}, class: 'icon icon-edit'
    = link_to l(:button_delete), {action: 'destroy', id: @object.id}, confirm: l(:text_are_you_sure), method: 'delete', class: 'icon icon-del'
  - if @object.meet_on.present?
    - if @object.meet_on >= Date.today
      - if @object.meeting_members.all?{ |q| q.issue.present? }
        = link_to l(:label_resend_invites), {action: 'resend_invites', id: @object.id}, class: 'icon icon-issue'
      - else
        = link_to l(:label_send_invites), {action: 'send_invites', id: @object.id}, class: 'icon icon-issue'

%h2
  = link_to l(:label_meeting_agenda_plural), action: 'index'
  &#187;
  = l(:label_meeting_agenda)
  ="##{h @object.id}"


.issue.details
  %table.attributes
    %tr
      %th=l(:field_subject)+":"
      %td{colspan: 3}=h @object.subject
    %tr
      %th=l(:field_place)+":"
      %td{colspan: 3}=h @object.place
    %tr
      %th= l(:field_meet_on)+":"
      %td= format_date(@object.meet_on)
      %th= l(:label_meeting_agenda_start_time)+":"
      %td= format_time(@object.start_time, false)
    %tr
      %th= l(:field_created_on)+":"
      %td= format_time(@object.created_on)
      %th= l(:label_meeting_agenda_end_time)+":"
      %td= format_time(@object.end_time, false)
    %tr
      %th= l(:field_priority)+":"
      %td= h(@object.priority)
      %th= l(:field_author)+":"
      %td= link_to_user @object.author
    %tr
      %th= l(:label_meeting_protocol)+":"
      %td
        - if (@object.meet_on <= Date.today)&&(@object.start_time.seconds_since_midnight <= Time.now.seconds_since_midnight)
          - if @object.meeting_protocol.present?
            = link_to "#{t(:label_meeting_protocol)} ##{@object.meeting_protocol.id}", controller: 'meeting_protocols', action: 'show', id: @object.meeting_protocol.id
          - else
            = link_to t(:button_add), {controller: 'meeting_protocols', action: 'new', meeting_protocol: {meeting_agenda_id: @object.id}}, {class: 'icon icon-add'}

  %hr

  %h3= l(:field_meeting_members)+":"
  %table.list.issues
    %tr
      %th=l(:field_company)
      %th=l(:field_job_title)
      %th=l(:field_member)
      %th=l(:field_issue)
      %th=l(:field_status)
    - @object.meeting_members.each do |member|
      %tr.issue
        %td=h member.user.company rescue ""
        %td=h member.user.job_title rescue ""
        %td=link_to_user(member.user)
        %td=link_to_issue(member.issue, subject: false, tracker: false, project: false) if member.issue.present?
        %td=link_to(member.issue.try(:status), controller: 'issues', action: 'show', id: member.issue_id) rescue h l(:label_meeting_member_was_not_invite)

  %br

  %h3=l(:label_meeting_question_plural)+":"
  - @object.meeting_questions.group_by(&:project).sort_by{ |project, questions| project.to_s }.each do |project, questions|
    %h4{align: 'center'}
      - if project.present?
        = link_to_project project
      - else
        = t(:label_without_project)

    %table.list.issues
      %thead
        %tr
          %th=l(:field_title)
          %th=l(:field_issue)
          %th=l(:label_meeting_question_user)
          %th=l(:field_status)
          %th=l(:field_done_ratio)
      %tbody
        - questions.each do |question|
          %tr.issue{onclick: "$('#comments_block_for_#{question.id}').toggle(1000);", style: (question.meeting_comments.present? ? "background: #fff0f5" : "")}
            %td.subject=h question.title
            %td.subject
              - if question.issue.present?
                = link_to_issue(question.issue, tracker: false)
            %td
              - if question.user.present?
                = link_to_user question.user
            %td
              - if question.status.present?
                = h question.status
            %td{width: '80px'}
              - if question.issue.present?
                =progress_bar(question.issue.done_ratio, width: '80px')
          %tr{id: "comments_block_for_#{question.id}", style: 'display: none;'}
            %td{colspan: 5}
              %h4= l(:label_meeting_question_comment_plural)+":"
              = render partial: 'meeting_comments/history', locals: {meeting_container: question}
