:css
  .show-when-print{ display: none;}
  @media print {
    .show-when-print { display: block;}
  }
  a.is_deleted{
    color: white;
  }
  .is_deleted{
    color: white;
    text-transform: uppercase;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 4px;
    background: red;
    position: relative;
    margin-right: 5px;
  }

.contextual
  - if can_create_agenda?
    = link_to l(:button_add), {action: 'new'}, class: 'icon icon-add'
  - if can_update_agenda?(@object)
    = link_to l(:button_update), {action: 'edit', id: @object.id}, class: 'icon icon-edit'
  - if can_create_agenda?
    = link_to_copy_agenda(@object)
  - if can_send_invites?(@object)
    = link_to_send_invite(@object)
  = link_to l(:button_print), {format: 'pdf'}, { class: 'icon icon-duplicate' }
  - if can_destroy_agenda?(@object)
    = link_to l(:button_delete), {action: 'destroy', id: @object.id}, confirm: l(:text_are_you_sure), method: 'delete', class: 'icon icon-del'

= render partial: 'head_for_print'

%h2.hide-when-print
  = link_to l(:label_meeting_agenda_plural), action: 'index'
  &#187;
  - if @object.is_deleted?
    %span.is_deleted= l(:label_meeting_agenda_is_deleted)
  - if @object.is_external?
    = l(:label_external_meeting_agenda)
  - else
    = l(:label_meeting_agenda)
  ="##{h @object.id}"

%h2.show-when-print{style: "text-align: center"}
  - if @object.is_external?
    = l(:label_external_meeting_agenda)
  - else
    = l(:label_meeting_agenda)
  ="№#{h @object.id}"

= render partial: 'meeting_agenda_attributes', locals: {object: @object}
= render partial: 'meeting_members', locals: {users: @object.users}
= render partial: 'meeting_contacts', locals: {contacts: @object.contacts}
= render partial: 'meeting_questions', locals: {meeting_questions: @object.meeting_questions}

.hide-when-print
  = link_to_attachments @object, thumbnails: true

- content_for :sidebar do
  = render partial: 'sidebar'
