:css
  .show-when-print{ display: none;}
  @media print {
    .show-when-print { display: block;}
  }
  a.is_deleted{
    color: white;
  }
  .is_deleted{
    color: white;
    text-transform: uppercase;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 4px;
    background: red;
    position: relative;
    margin-right: 5px;
  }

.contextual
  - if can_create_agenda?
    = link_to l(:button_add), {action: 'new'}, class: 'icon icon-add'
  - if can_update_agenda?(@object)
    = link_to l(:button_update), {action: 'edit', id: @object.id}, class: 'icon icon-edit'
  - if can_create_agenda?
    = link_to_copy_agenda(@object)
  - if can_send_invites?(@object)
    = link_to_send_invite(@object)
  = link_to l(:button_print), {format: 'pdf'}, { class: 'icon icon-duplicate' }
  - if can_destroy_agenda?(@object)
    = link_to l(:button_delete), {action: 'destroy', id: @object.id}, confirm: l(:text_are_you_sure), method: 'delete', class: 'icon icon-del'

= render partial: 'head_for_print'

%h2.hide-when-print
  = link_to l(:label_meeting_agenda_plural), action: 'index'
  &#187;
  - if @object.is_deleted?
    %span.is_deleted= l(:label_meeting_agenda_is_deleted)
  - if @object.is_external?
    = l(:label_external_meeting_agenda)
  - else
    = l(:label_meeting_agenda)
  ="##{h @object.id}"

%h2.show-when-print{style: "text-align: center"}
  - if @object.is_external?
    = l(:label_external_meeting_agenda)
  - else
    = l(:label_meeting_agenda)
  ="№#{h @object.id}"

.issue.details
  %table.attributes
    %tr
      %th=l(:field_subject)+":"
      %td{colspan: 3}=h @object.subject
    - if @object.is_external? && @object.external_place_type["external_company"]
      %tr
        %th=l(:field_external_company)+":"
        %td{colspan: 3}=link_to_contact @object.external_company
    %tr
      - if @object.is_external?
        %th=l(:field_address)+":"
        %td{colspan: 3}
          =link_to @object.address, "http://maps.google.com/maps?f=q&ie=UTF8&om=1&q=#{h @object.address.gsub("\r\n"," ").gsub("\n"," ")}+(#{h @object.external_company.to_s.gsub(/["']+/,"")})"
      - else
        %th=l(:field_place)+":"
        %td{colspan: 3}=h @object.place
    %tr
      %th= l(:field_meet_on)+":"
      %td= format_date(@object.meet_on)
      %th= l(:label_meeting_agenda_start_time)+":"
      %td= format_time(@object.start_time, false)
    %tr
      %th= l(:field_created_on)+":"
      %td= format_time(@object.created_on)
      %th= l(:label_meeting_agenda_end_time)+":"
      %td= format_time(@object.end_time, false)
    %tr
      %th= l(:field_priority)+":"
      %td= h(@object.priority)
      %th= l(:field_author)+":"
      %td= link_to_user @object.author
    %tr
      %th= l(:label_meeting_protocol)+":"
      %td= link_to_protocol(@object)
      = render :partial => "online_meetings/add_attributes_table", locals: {item: @object} rescue nil

%h3= l(:field_meeting_members)+":"
.autoscroll
  %table.list.issues
    %tr
      %th=l(:field_company)
      %th=l(:field_job_title)
      %th=l(:field_member)
      %th.hide-when-print=l(:field_status)
    - @object.users.each do |user|
      %tr.issue
        %td= h user.company rescue ""
        %td{style: "white-space: pre-line; width: 33%"}= h user.job_title rescue ""
        %td= link_to_user(user)
        %td.hide-when-print
          - member = @object.meeting_members.where(user_id: user.id).first
          - if member.present? && member.issue.present?
            = link_to(member.issue.try(:status), controller: 'issues', action: 'show', id: member.issue_id)
          - else
            = h l(:label_meeting_member_was_not_invite)
- if @object.contacts.any?
  %h3= l(:field_meeting_contacts)+":"
  .autoscroll
    %table.list.issues
      %tr
        %th=l(:field_company)
        %th=l(:field_job_title)
        %th=l(:field_contact)
        %th=l(:field_contact_mobile_phone)
        %th=l(:field_email)
        %th=l(:field_contact_fax)
      - @object.contacts.each do |contact|
        %tr.issue
          %td{style: "white-space: pre-line; width: 20%"}= h contact.company
          %td{style: "white-space: pre-line; width: 20%"}= h contact.job_title
          %td{style: "white-space: pre-line; width: 25%"}= link_to_contact(contact)
          %td{style: "white-space: pre-line; width: 20%"}= h contact.mobile_phone
          %td{style: "white-space: pre-line; width: 20%"}= mail_to(h contact.email)
          %td{style: "white-space: pre-line; width: 20%"}= h contact.fax


%br

%h3=l(:label_meeting_question_plural)+":"
= render partial: 'meeting_questions'

.hide-when-print
  = link_to_attachments @object, thumbnails: true

- content_for :sidebar do
  = render partial: 'sidebar'
