%p
  %label= l(:label_meeting_manager_plural)
  = select_tag("settings[principal_id]", principals_options_for_select(Principal.active, Principal.find(@settings[:principal_id])), prompt: t(:prompt_please_select))
%fieldset
  %legend=l(:label_issue_status_plural)
  %p
    %label= l(:label_meeting_onwork_issue_status)
    = select_tag("settings[onwork_issue_status]", options_from_collection_for_select(IssueStatus.all, :id, :name, @settings[:onwork_issue_status].try(:to_i)), :prompt => t(:prompt_please_select))
  %p
    %label= l(:label_meeting_solved_issue_status)
    = select_tag("settings[solved_issue_status]", options_from_collection_for_select(IssueStatus.all, :id, :name, @settings[:solved_issue_status].try(:to_i)), :prompt => t(:prompt_please_select))
  %p
    %label= l(:label_meeting_cancel_issue_status)
    = select_tag("settings[cancel_issue_status]", options_from_collection_for_select(IssueStatus.all, :id, :name, @settings[:cancel_issue_status].try(:to_i)), :prompt => t(:prompt_please_select))
  %p
    %label= l(:label_meeting_close_issue_status)
    = select_tag("settings[close_issue_status]", options_from_collection_for_select(IssueStatus.where(is_closed: true), :id, :name, @settings[:close_issue_status].try(:to_i)), :prompt => t(:prompt_please_select))
%fieldset
  %legend=l(:label_meeting_invite)
  %p
    %label= l(:label_project)
    = select_tag("settings[project_id]", project_tree_options_for_select(Project.active.all, selected: Project.find_by_id(@settings[:project_id])), prompt: t(:prompt_please_select))
  %p
    %label= l(:field_tracker)
    = select_tag("settings[issue_tracker]", options_from_collection_for_select(Tracker.all, :id, :name, @settings[:issue_tracker].try(:to_i)), prompt: t(:prompt_please_select))
  %p
    %label= l(:field_subject)
    = text_field_tag("settings[subject]", @settings[:subject], size: 80, maxlength: 255)
  %p
    %label= l(:field_description)
    = text_area_tag("settings[description]", @settings[:description], cols: 60, rows: 5, class: 'wiki-edit')
%fieldset
  %legend=l(:label_meeting_issue_update)
  %p
    %label= l(:label_meeting_issue_update_note)
    = text_area_tag("settings[note]", @settings[:note], cols: 60, rows: 5, class: 'wiki-edit')
-#
  %fieldset
    %legend=l(:label_meeting_notice)
    %p
      %label= l(:label_project)
      = select_tag("settings[notice_project_id]", project_tree_options_for_select(Project.active, selected: Project.find_by_id(@settings[:notice_project_id])), prompt: t(:prompt_please_select))
    %p
      %label= l(:field_tracker)
      = select_tag("settings[notice_issue_tracker]", options_from_collection_for_select(Tracker.all, :id, :name, @settings[:notice_issue_tracker].try(:to_i)), prompt: t(:prompt_please_select))
    %p
      %label= l(:label_meeting_notice_duration)
      = text_field_tag("settings[notice_duration]", @settings[:notice_duration], size: 5)
    %p
      %label= l(:field_subject)
      = text_field_tag("settings[notice_subject]", @settings[:notice_subject], size: 80, maxlength: 255)
    %p
      %label= l(:field_description)
      = text_area_tag("settings[notice_description]", @settings[:notice_description], cols: 60, rows: 5, class: 'wiki-edit')
%fieldset
  %legend=l(:label_meeting_contacts_agenda)
  %p
    %label= l(:field_subject)
    = text_field_tag("settings[contacts_agenda_subject]", @settings[:contacts_agenda_subject], size: 80, maxlength: 255)
  %p
    %label= l(:field_description)
    = text_area_tag("settings[contacts_agenda_description]", @settings[:contacts_agenda_description], cols: 60, rows: 5, class: 'wiki-edit')
%fieldset
  %legend=l(:label_meeting_contacts_protocol)
  %p
    %label= l(:field_subject)
    = text_field_tag("settings[contacts_protocol_subject]", @settings[:contacts_protocol_subject], size: 80, maxlength: 255)
  %p
    %label= l(:field_description)
    = text_area_tag("settings[contacts_protocol_description]", @settings[:contacts_protocol_description], cols: 60, rows: 5, class: 'wiki-edit')
%fieldset
  %legend=l(:label_meeting_external_approvers_agenda)
  %p
    %label= l(:field_subject)
    = text_field_tag("settings[external_approvers_agenda_subject]", @settings[:external_approvers_agenda_subject], size: 80, maxlength: 255)
  %p
    %label= l(:field_description)
    = text_area_tag("settings[external_approvers_agenda_description]", @settings[:external_approvers_agenda_description], cols: 60, rows: 5, class: 'wiki-edit')
%fieldset
  %legend=l(:label_meeting_external_approvers_protocol)
  %p
    %label= l(:field_subject)
    = text_field_tag("settings[external_approvers_protocol_subject]", @settings[:external_approvers_protocol_subject], size: 80, maxlength: 255)
  %p
    %label= l(:field_description)
    = text_area_tag("settings[external_approvers_protocol_description]", @settings[:external_approvers_protocol_description], cols: 60, rows: 5, class: 'wiki-edit')

= wikitoolbar_for('settings_description')
= wikitoolbar_for('settings_notice_description')
= wikitoolbar_for('settings_note')
