:css
  input#room_search {width:100%}
  input#room_search {
    background: url(../images/magnifier.png) no-repeat 2px 50%; padding-left:20px;
    border:1px solid #9EB1C2; border-radius:3px; height:1.5em; width:95%;
  }
  input#room_search.ajax-loading {
   background-image: url(../images/loading.gif);
  }
  #meeting_rooms_for_meeting_agenda{
    height: 200px;
    overflow: auto;
  }
  #meeting_rooms_for_meeting_agenda label {
    display: block;
  }

%h3.title= l(:label_meeting_room_reserve_new)

= form_tag({controller: 'meeting_room_selectors', action: 'create'}, method: :post, remote: true, id: 'new-item-form') do
  %p
    = label_tag :room_search, l(:label_meeting_room_plural)
    = text_field_tag :room_search, nil
  = javascript_tag "observeSearchfield('room_search', 'meeting_rooms_for_meeting_agenda', '#{ escape_javascript url_for(controller: 'meeting_room_selectors', action: 'autocomplete_for_meeting_room') }')"

  #meeting_rooms_for_meeting_agenda
    = principals_radio_button_tags 'meeting_room_id', MeetingRoom.open.all

  %p.buttons
    = submit_tag l(:button_add), :name => nil, :onclick => "hideModal(this);"
    = submit_tag l(:button_cancel), :name => nil, :onclick => "hideModal(this);", :type => 'button'
