= l(:label_meeting_subject) + ": «#{@container.subject}»"
= l(:field_place) + ": #{@container.place}"
= l(:mail_body_link_to_agenda) + ": " + url_for(@agenda_url)
= l(:mail_body_link_to_issue) + ": " + url_for(@issue_url)
