= l(:mail_body_greeting) + ' ' + @username + ', '
= t(:mail_body_meeting_approver_create_greating, author: @authorname)

- if @container.is_a? MeetingAgenda
  = t(:mail_body_meeting_approver_create_body_agenda)
  = link_to(@container.subject, controller: 'meeting_agenda', action: 'show', id: @container.id)
- elsif @container.is_a? MeetingProtocol
  = t(:mail_body_meeting_approver_create_body_protocol)
  = link_to(@container.meeting_agenda.subject, controller: 'meeting_protocol', action: 'show', id: @container.id)
