= l(:mail_body_greeting, lastname: @author.lastname, firstname: @author.firstname)
- if @container.is_a? MeetingAgenda
  = @user.name + " " + t(:mail_body_meeting_comment_body_agenda) + " " + @container.subject + ": " + url_for(controller: 'meeting_agendas', action: 'show', id: @container.id, only_path: false)
- elsif @container.is_a? MeetingProtocol
  = @user.name + " " + t(:mail_body_meeting_comment_body_protocol) + " " + @container.meeting_agenda.subject + ": " + url_for(controller: 'meeting_protocols', action: 'show', id: @container.id, only_path: false)

= @comment_for.to_s.split("\n").map{|s| "> #{s}\n"}

= "---"

= @comment
