%h3.title= l(:label_meeting_bind_issue_new)

= error_messages_for @answer

= labelled_form_for(@answer, url: {controller: 'meeting_bind_issues', action: 'create', meeting_answer_type: @answer.class, meeting_answer_id: @answer.id}, method: :post, remote: true) do |f|
  = render partial: 'meeting_bind_issues/form', locals: {f: f}
  %p.buttons
    = f.submit l(:button_add), :name => nil, :onclick => "hideModal(this);"
    = f.submit l(:button_cancel), :name => nil, :onclick => "hideModal(this);", :type => 'button'
