%div{id: "meeting_comment_history_for_#{meeting_container.class.to_s.underscore}_#{meeting_container.id}", class: "meeting_comments_history"}
  - meeting_container.meeting_comments.each do |comment|
    %div{style: 'margin-left: 20px; margin-bottom: 20px; margin-top: 20px;'}
      =textilizable(comment, :note)
      %p
        = link_to_user comment.author
        = "(#{format_time(comment.created_on)})"
        -#FIXME if comment.author == User.current
          - url = {controller: 'meeting_comments', action: 'destroy', id: comment.id}
          = link_to(image_tag('delete.png'), url, remote: true, method: 'delete', class: "delete")
  - if can_create_comments?(meeting_container) && [MeetingAnswer, MeetingExtraAnswer, MeetingQuestion].include?(meeting_container.class)
    = link_to l(:button_add_comment), {controller: 'meeting_comments', action: 'new', meeting_comment: {meeting_container_id: meeting_container.id, meeting_container_type: meeting_container.class}}, remote: true, class: 'icon icon-add'
